<footer style="background:rgb(28, 30, 34)">
  <section class="footer">
    <div class="container text-center">
      <h2>HOTEL ESTRELLA</h2>
      <div>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
      </div><br>
      <div>
        <span style="padding:10px"><i class="fa fa-phone" aria-hidden="true"></i> 956 XXX XXX</span>
        <span style="padding:10px"><i class="fa fa-envelope" aria-hidden="true"></i> Chincha Alta</span>
        <span style="padding:10px"><i class="fa fa-map-marker" aria-hidden="true"></i> hotel_estrella@gamil.com</span>
      </div>
    </div><br>
  </section>
  <section class="container">
    <div class="form-group">
      <div class="text-center center-block">
        <a href="#" style="padding:10px"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="#" style="padding:10px"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
        <a href="#" style="padding:10px"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
        <a href="#" style="padding:10px"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      </div>
    </div>
  </section>
</footer>
