<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Hotel</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
  </head>

  <body>
    <main class="">
      {{>navigation}}

      <div  id="inicio" class="jumbotron text-center">
        <h1>HOTEL ESTRELLA</h1>
        <div>
          <i class="fa fa-star fa-3x" aria-hidden="true"></i>
          <i class="fa fa-star fa-3x" aria-hidden="true"></i>
          <i class="fa fa-star fa-3x" aria-hidden="true"></i>
          <i class="fa fa-star fa-3x" aria-hidden="true"></i>
          <i class="fa fa-star fa-3x" aria-hidden="true"></i>
        </div><br>
        <p>EXPERIENCIA DE LUJO</p>
        <p><small>Uno de los mejores lugares para pasarla a lo grande</small></p>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="img/bar.jpg" alt="...">
              <div class="caption">
                <h3>BAR</h3>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nulla iure repudiandae similique suscipit culpa tempora assumenda, totam amet nemo, placeat consequatur nam natus voluptas perspiciatis veniam, fugiat voluptatem esse.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="img/habitacion.jpg" alt="...">
              <div class="caption">
                <h3>HABITACIÓN</h3>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quod, eaque fugiat maxime totam doloremque placeat voluptates necessitatibus asperiores eligendi suscipit est quam atque velit magni, modi ipsum ducimus inventore!</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="img/restaurant.jpeg" alt="...">
              <div class="caption">
                <h3>RESTAURANT</h3>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea iusto suscipit officia, deserunt consequatur dolorum, error voluptas excepturi quis, quod, molestias molestiae eveniet fuga atque. Amet impedit dolore, consectetur numquam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="thumbnail text-center">
          <h2>Servicios</h2>
          <p>Disfruta de los servivios básicos que te ofrecemos</p>
          <div class="caption">
            <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i>
            <i class="fa fa-glass fa-2x" aria-hidden="true"></i>
            <i class="fa fa-coffee fa-2x" aria-hidden="true"></i>
            <i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i>
            <i class="fa fa-television fa-2x" aria-hidden="true"></i>
            <i class="fa fa-wifi fa-2x" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div id="roon" class="container">
        <div class="thumbnail">
          <h2 class="text-center">Habitación</h2>
          <p class="text-center" style="padding:0 30px 0 30px">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p><br/>
          <div class="container-fluid">
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img src="img/habitacion/doble.jpg" alt="double Room">
                <div class="caption">
                  <h3 class="text-center">DOBLE</h3>
                  <p class="text-center">
                    2 cama / 4 personas <br/>
                    <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-glass fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-television fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-wifi fa-2x" aria-hidden="true"></i>
                  </p>
                  <p class="text-center"><a class="btn btn-default" role="button"><i class="glyphicon glyphicon-usd"></i> Precio</a> <a class="btn btn-primary" role="button"><i class="glyphicon glyphicon-info-sign"></i> Información</a></p>
                  <!--<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea iusto suscipit officia, deserunt consequatur dolorum, error voluptas excepturi quis, quod, molestias molestiae eveniet fuga atque. Amet impedit dolore, consectetur numquam.</p>-->
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img src="img/habitacion/solo.jpg" alt="single Room">
                <div class="caption">
                  <h3 class="text-center">SOLO</h3>
                  <p class="text-center">
                    1 cama / 1 persona <br/>
                    <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-glass fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-television fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-wifi fa-2x" aria-hidden="true"></i>
                  </p>
                  <p class="text-center"><a class="btn btn-default" role="button"><i class="glyphicon glyphicon-usd"></i> Precio</a> <a class="btn btn-primary" role="button"><i class="glyphicon glyphicon-info-sign"></i> Información</a></p>
                  <!--<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea iusto suscipit officia, deserunt consequatur dolorum, error voluptas excepturi quis, quod, molestias molestiae eveniet fuga atque. Amet impedit dolore, consectetur numquam.</p>-->
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img src="img/habitacion/familiar.jpg" alt="Family Room">
                <div class="caption">
                  <h3 class="text-center">FAMILIAR</h3>
                  <p class="text-center">
                    4 cama / 6 personas <br/>
                    <i class="fa fa-coffee fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-television fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-wifi fa-2x" aria-hidden="true"></i>
                  </p>
                  <p class="text-center"><a class="btn btn-default" role="button"><i class="glyphicon glyphicon-usd"></i> Precio</a> <a class="btn btn-primary" role="button"><i class="glyphicon glyphicon-info-sign"></i> Información</a></p>
                  <!--<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea iusto suscipit officia, deserunt consequatur dolorum, error voluptas excepturi quis, quod, molestias molestiae eveniet fuga atque. Amet impedit dolore, consectetur numquam.</p>-->
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img src="img/habitacion/suite.JPG" alt="Suite Room">
                <div class="caption">
                  <h3 class="text-center">SUITE</h3>
                  <p class="text-center">
                    1 cama / 2 personas <br/>
                    <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-glass fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-coffee fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-television fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-wifi fa-2x" aria-hidden="true"></i>
                  </p>
                  <p class="text-center"><a class="btn btn-default" role="button"><i class="glyphicon glyphicon-usd"></i> Precio</a> <a class="btn btn-primary" role="button"><i class="glyphicon glyphicon-info-sign"></i> Información</a></p>
                  <!--<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea iusto suscipit officia, deserunt consequatur dolorum, error voluptas excepturi quis, quod, molestias molestiae eveniet fuga atque. Amet impedit dolore, consectetur numquam.</p>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="about" class="container">
        <div class="thumbnail text-center">
          <h2>¿Quienes Somos?</h2>
          <p class="text-center" style="padding:0 30px 0 30px">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <hr>
          <h2>Hotel</h2>
          <p class="text-center" style="padding:0 30px 0 30px">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <br>
          <div class="container-fluid">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="img/gerente/gerente.jpg" alt="Gerente">
                <div class="caption">
                  <h3>Gerente</h3>
                  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea iusto suscipit officia, deserunt consequatur dolorum, error voluptas excepturi quis, quod, molestias molestiae eveniet fuga atque. Amet impedit dolore, consectetur numquam.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="img/gerente/dueño.jpg" alt="dueño">
                <div class="caption">
                  <h3>Dueño</h3>
                  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea iusto suscipit officia, deserunt consequatur dolorum, error voluptas excepturi quis, quod, molestias molestiae eveniet fuga atque. Amet impedit dolore, consectetur numquam.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="img/gerente/fundador.jpg" alt="Fundador">
                <div class="caption">
                  <h3>Fundador</h3>
                  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea iusto suscipit officia, deserunt consequatur dolorum, error voluptas excepturi quis, quod, molestias molestiae eveniet fuga atque. Amet impedit dolore, consectetur numquam.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="location" class="container">
        <div class="thumbnail">
          <div class="container"><br/>
            <div class="row">
              <div class="col-md-8">
                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps..."></iframe>
              </div>
              <div class="col-md-4">
                <h2>Ubicanos aquí</h2>
                <h3>Dirección</h3>
                <p>
                  Estamos en la calle .....
                </p>
                <hr>
                <h3>Referencia</h3>
                <p>
                  Al costado de...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="contact" class="container">
        <div class="thumbnail">
          <div class="container"><br/>
            <div class="col-md-offset-3 col-md-6 thumbnail">
              <form class="form-horizontal" style="padding:10px 30px 0 30px">
                <fieldset>
                  <legend>Contáctanos</legend>
                  <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Nombre</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="inputName" placeholder="Nombre">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Mensaje</label>
                    <div class="col-lg-10">
                      <textarea class="form-control" style="resize:none" rows="3" id="textArea" placeholder="Dejanos tu mensaje..."></textarea>
                      <span class="help-block">Tu opinion nos importa.</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Valoranos</label>
                    <div class="col-lg-10">
                      <select class="form-control" id="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                      <span class="help-block">Del 1 al 5 que te parecio nuestra atención.</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="reset" class="btn btn-default">Cancelar</button>
                      <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <span class="help-block">TELEFONO: 956 XXX XXX</span>
                      <span class="help-block">E-MAIL: hotel_estrella@gmail.com</span>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>

      {{> footer }}
    </main>
    
    <script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" ></script>
  </body>
</html>
